In [1]:
import sys
sys.path.append('../')

In [2]:
from data_preparator import *
from libraries.dataManipulation import *

In [3]:
data = getDay(20220314,'ehv')

targeting path /storage/surfsara/ProRail_USE_LL_data/ehv/platform2.1/20220314
Files listed. Accessible as <this-object>.filelist
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/platform2.1/20220314/EHV_Platform2.1_2022031400_trajectorie.parquet
data fetched. Accessible as <this-object>.df
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/platform2.1/20220314/EHV_Platform2.1_2022031400_trajectorie.parquet
data fetched. Accessible as <this-object>.df
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/platform2.1/20220314/EHV_Platform2.1_2022031401_trajectorie.parquet
data fetched. Accessible as <this-object>.df
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/platform2.1/20220314/EHV_Platform2.1_2022031402_trajectorie.parquet
data fetched. Accessible as <this-object>.df
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/platform2.1/20220314/EHV_Platform2.1_2022031403_trajectorie.parquet
data fetched. Accessible as <this-object>.df
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/platform2.1/20220314/EHV_Platform2.1_2022031404_trajectorie.parquet
data fetched. Accessible as <this-object>.df
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/platform2.1/20220314/EHV_Platform2.1_2022031405_trajectorie.parquet
data fetched. Accessible as <this-object>.df
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/platform2.1/20220314/EHV_Platform2.1_2022031406_trajectorie.parquet
data fetched. Accessible as <this-object>.df
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/platform2.1/20220314/EHV_Platform2.1_2022031407_trajectorie.parquet
data fetched. Accessible as <this-object>.df
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/platform2.1/20220314/EHV_Platform2.1_2022031408_trajectorie.parquet
data fetched. Accessible as <this-object>.df
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/platform2.1/20220314/EHV_Platform2.1_2022031409_trajectorie.parquet
data fetched. Accessible as <this-object>.df
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/platform2.1/20220314/EHV_Platform2.1_2022031410_trajectorie.parquet
data fetched. Accessible as <this-object>.df
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/platform2.1/20220314/EHV_Platform2.1_2022031411_trajectorie.parquet
data fetched. Accessible as <this-object>.df
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/platform2.1/20220314/EHV_Platform2.1_2022031412_trajectorie.parquet
data fetched. Accessible as <this-object>.df
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/platform2.1/20220314/EHV_Platform2.1_2022031413_trajectorie.parquet
data fetched. Accessible as <this-object>.df
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/platform2.1/20220314/EHV_Platform2.1_2022031414_trajectorie.parquet
data fetched. Accessible as <this-object>.df
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/platform2.1/20220314/EHV_Platform2.1_2022031415_trajectorie.parquet
data fetched. Accessible as <this-object>.df
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/platform2.1/20220314/EHV_Platform2.1_2022031416_trajectorie.parquet
data fetched. Accessible as <this-object>.df
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/platform2.1/20220314/EHV_Platform2.1_2022031417_trajectorie.parquet
data fetched. Accessible as <this-object>.df
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/platform2.1/20220314/EHV_Platform2.1_2022031418_trajectorie.parquet
data fetched. Accessible as <this-object>.df
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/platform2.1/20220314/EHV_Platform2.1_2022031419_trajectorie.parquet
data fetched. Accessible as <this-object>.df
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/platform2.1/20220314/EHV_Platform2.1_2022031420_trajectorie.parquet
data fetched. Accessible as <this-object>.df
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/platform2.1/20220314/EHV_Platform2.1_2022031421_trajectorie.parquet
data fetched. Accessible as <this-object>.df
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/platform2.1/20220314/EHV_Platform2.1_2022031422_trajectorie.parquet
data fetched. Accessible as <this-object>.df
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/platform2.1/20220314/EHV_Platform2.1_2022031423_trajectorie.parquet
data fetched. Accessible as <this-object>.df

In [4]:
data

,date_time_utc,tracked_object,y_pos,x_pos,datetime
0,2022-03-13 23:00:00.000,3351342,2720.0,18297.0,2022-03-14 00:00:00+01:00
1,2022-03-13 23:00:00.000,3351431,891.0,18726.0,2022-03-14 00:00:00+01:00
2,2022-03-13 23:00:00.000,3351436,1997.0,19123.0,2022-03-14 00:00:00+01:00
3,2022-03-13 23:00:00.000,3351437,-307.0,21528.0,2022-03-14 00:00:00+01:00
4,2022-03-13 23:00:00.000,3351440,-4132.0,11551.0,2022-03-14 00:00:00+01:00
...,...,...,...,...,...
21170955,2022-03-14 22:59:59.800,3393524,-3753.0,5364.0,2022-03-14 23:59:59.800000+01:00
21170956,2022-03-14 22:59:59.900,3393507,-3388.0,8773.0,2022-03-14 23:59:59.900000+01:00
21170957,2022-03-14 22:59:59.900,3393522,-1317.0,5434.0,2022-03-14 23:59:59.900000+01:00
21170958,2022-03-14 22:59:59.900,3393523,-4023.0,8686.0,2022-03-14 23:59:59.900000+01:00
21170959,2022-03-14 22:59:59.900,3393524,-3684.0,5430.0,2022-03-14 23:59:59.900000+01:00

In [5]:
%%time
((data_on_train, data_on_no_train),data_off) = data_division(data)

trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/ehv_train_information_pss.parquet
data fetched. Accessible as <this-object>.train_information
CPU times: user 23.1 s, sys: 563 ms, total: 23.7 s
Wall time: 25.3 s

In [8]:
data_off

,date_time_utc,tracked_object,y_pos,x_pos,datetime,time
0,2022-03-13 23:00:00.000,3351342,2720.0,18297.0,2022-03-14 00:00:00+01:00,1647212400
1,2022-03-13 23:00:00.000,3351431,891.0,18726.0,2022-03-14 00:00:00+01:00,1647212400
2,2022-03-13 23:00:00.000,3351436,1997.0,19123.0,2022-03-14 00:00:00+01:00,1647212400
3,2022-03-13 23:00:00.000,3351437,-307.0,21528.0,2022-03-14 00:00:00+01:00,1647212400
7,2022-03-13 23:00:00.100,3351342,2720.0,18297.0,2022-03-14 00:00:00.100000+01:00,1647212400
...,...,...,...,...,...,...
21170713,2022-03-14 22:59:53.000,3393521,-4212.0,8145.0,2022-03-14 23:59:53+01:00,1647298793
21170716,2022-03-14 22:59:53.100,3393521,-4211.0,8142.0,2022-03-14 23:59:53.100000+01:00,1647298793
21170719,2022-03-14 22:59:53.200,3393521,-4179.0,8143.0,2022-03-14 23:59:53.200000+01:00,1647298793
21170722,2022-03-14 22:59:53.300,3393521,-4145.0,8152.0,2022-03-14 23:59:53.300000+01:00,1647298793
21170725,2022-03-14 22:59:53.400,3393521,-4119.0,8157.0,2022-03-14 23:59:53.400000+01:00,1647298793