In [2]:
import sys
sys.path.append('../')

In [3]:
from data_preparator import *
from libraries.dataManipulation import *

In [4]:
%%time
%%capture
data = getDay(20220314,'ehv')

CPU times: user 13.3 s, sys: 1.78 s, total: 15 s
Wall time: 26.8 s

In [7]:
%%time
%%capture
((data_on_train, data_on_no_train),data_off) = data_division(data)

CPU times: user 24 s, sys: 1.68 s, total: 25.7 s
Wall time: 26.7 s

In [8]:
data_on_train.iloc[0]

,date_time_utc,tracked_object,y_pos,x_pos,datetime,time
22999,2022-03-13 23:06:41.000,3351465,-6436.0,49048.0,2022-03-14 00:06:41+01:00,1647212801
23000,2022-03-13 23:06:41.000,3351468,-3063.0,59120.0,2022-03-14 00:06:41+01:00,1647212801
23004,2022-03-13 23:06:41.000,3351478,-5860.0,25609.0,2022-03-14 00:06:41+01:00,1647212801
23005,2022-03-13 23:06:41.000,3351479,-4962.0,26068.0,2022-03-14 00:06:41+01:00,1647212801
23006,2022-03-13 23:06:41.000,3351480,-5320.0,27575.0,2022-03-14 00:06:41+01:00,1647212801
...,...,...,...,...,...,...
21147286,2022-03-14 22:22:45.000,3393459,3468.0,16640.0,2022-03-14 23:22:45+01:00,1647296565
21147287,2022-03-14 22:22:45.100,3393459,3559.0,16605.0,2022-03-14 23:22:45.100000+01:00,1647296565
21147288,2022-03-14 22:22:45.200,3393459,3620.0,16582.0,2022-03-14 23:22:45.200000+01:00,1647296565
21147289,2022-03-14 22:22:45.300,3393459,3680.0,16563.0,2022-03-14 23:22:45.300000+01:00,1647296565
21147290,2022-03-14 22:22:45.400,3393459,3751.0,16537.0,2022-03-14 23:22:45.400000+01:00,1647296565