In [1]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as patches
import pandas as pd
import warnings
import matplotlib.colors as colors
import matplotlib.animation as animation
import matplotlib.lines as lines
import datetime
import math
import csv
import ast
import importlib
%matplotlib notebook

from sociophysicsDataHandler import SociophysicsDataHandler

!cat auth.txt
# !pip install sociophysicsDataHandler==1.3.2

'cat' is not recognized as an internal or external command,
operable program or batch file.

In [2]:
import data_preparator_2 
importlib.reload(data_preparator_2)

In [3]:
df = pd.read_csv('test_results.csv')

#print(df.to_string())
df.head()

     ID  Offboarding  Onboarding        Time  Zone  x_pos  y_pos
0  1000         True       False  1587384000     0    0.0      0
1  1001         True       False  1587384000     1    0.0      1
2  1002         True       False  1587384000     2    0.0      2
3  1003         True       False  1587384000     3    0.0      3
4  1004         True       False  1587384000     4    1.0      0

In [4]:
zone_height = 1000
zone_width = 1000
o_x = 5000
o_y = -10000

In [5]:
df['x_pos_approx'] = o_x + zone_width * (df['x_pos'] + 1/2) 
df['y_pos_approx'] = o_y + zone_height * (df['y_pos'] + 1/2)
df.head()

,ID,Offboarding,Onboarding,Time,Zone,x_pos,y_pos,x_pos_approx,y_pos_approx
0,1000,True,False,1587384000,0,0.0,0,5500.0,-9500.0
1,1001,True,False,1587384000,1,0.0,1,5500.0,-8500.0
2,1002,True,False,1587384000,2,0.0,2,5500.0,-7500.0
3,1003,True,False,1587384000,3,0.0,3,5500.0,-6500.0
4,1004,True,False,1587384000,4,1.0,0,6500.0,-9500.0

In [6]:
print(df['Time'][0])
df_no_train = data_preparator_2.division_by_train_position(df)[0]
df_no_train

1587384000
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/ehv_train_information_pss.parquet
data fetched. Accessible as <this-object>.train_information

,ID,Offboarding,Onboarding,Time,Zone,x_pos,y_pos,x_pos_approx,y_pos_approx,time
0,1000,True,False,1587384000,0,0.0,0,5500.0,-9500.0,1587384000
1,1001,True,False,1587384000,1,0.0,1,5500.0,-8500.0,1587384000
2,1002,True,False,1587384000,2,0.0,2,5500.0,-7500.0,1587384000
3,1003,True,False,1587384000,3,0.0,3,5500.0,-6500.0,1587384000
4,1004,True,False,1587384000,4,1.0,0,6500.0,-9500.0,1587384000
...,...,...,...,...,...,...,...,...,...,...
431995,1115,False,True,1587387599,15,3.0,3,8500.0,-6500.0,1587387599
431996,1116,False,True,1587387599,22,5.0,2,10500.0,-7500.0,1587387599
431997,1117,False,True,1587387599,29,7.0,1,12500.0,-8500.0,1587387599
431998,1118,False,True,1587387599,47,11.0,3,16500.0,-6500.0,1587387599
431999,1119,False,True,1587387599,10,2.0,2,7500.0,-7500.0,1587387599

In [7]:
def percentageDangerZone(df):
    threshold1 =  13
    threshold2 = 0
    df_no_train = data_preparator_2.division_by_train_position(df)[0]
    percentage = len((df_no_train[(df_no_train['y_pos'] >= threshold1) | (df_no_train['y_pos'] <= threshold2)])) / len(df_no_train) * 100
    return percentage

In [8]:
print(percentageDangerZone(df))

trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/ehv_train_information_pss.parquet
data fetched. Accessible as <this-object>.train_information
13.487268518518519

In [9]:
def personalTime(ID):
    df_personal = df[df['ID']==ID]
    print(df_personal.head())
    print(df_personal.tail())
    if df_personal.iloc[0]['Offboarding']:
        offboarding = True
    if df_personal.iloc[0]['Onboarding']:
        onboarding = True
        
    first_occurrence = df_personal.iloc[0]['Time']
    last_occurrence = df_personal.iloc[-1]['Time']
    
    if offboarding:
        return last_ocurrence-first_occurrence
    
    
personalTime(1003)

       ID  Offboarding  Onboarding        Time  Zone  x_pos  y_pos  \
3    1003         True       False  1587384000     3    0.0      3
123  1003         True       False  1587384001     7    1.0      3
243  1003         True       False  1587384002     7    1.0      3
363  1003         True       False  1587384003     7    1.0      3
483  1003         True       False  1587384004     7    1.0      3

     x_pos_approx  y_pos_approx        time     train
3          5500.0       -6500.0  1587384000  no train
123        6500.0       -6500.0  1587384001  no train
243        6500.0       -6500.0  1587384002  no train
363        6500.0       -6500.0  1587384003  no train
483        6500.0       -6500.0  1587384004  no train
          ID  Offboarding  Onboarding        Time  Zone  x_pos  y_pos  \
431403  1003         True       False  1587387595    35    8.0      3
431523  1003         True       False  1587387596    35    8.0      3
431643  1003         True       False  1587387597    35    8.0      3
431763  1003         True       False  1587387598    35    8.0      3
431883  1003         True       False  1587387599    35    8.0      3

        x_pos_approx  y_pos_approx        time     train
431403       13500.0       -6500.0  1587387595  no train
431523       13500.0       -6500.0  1587387596  no train
431643       13500.0       -6500.0  1587387597  no train
431763       13500.0       -6500.0  1587387598  no train
431883       13500.0       -6500.0  1587387599  no train

NameError: name 'last_ocurrence' is not defined